html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body{
	width: 100%;
}

a{ text-decoration: none; }

#container{
	width: 960px;
	height: 500px;
	margin: 100px auto;
	background: #ccc;
}

.helpful-links.horizontal{
	height: 20px;
	padding: 5px;
	background: #eff4f8;
	font-size: 12px;
	line-height: 20px;
}

.helpful-links.horizontal div{
	display: inline-block;
}

.helpful-links.horizontal > div{
	margin-right: 10px;
}

.helpful-links.horizontal .links,
.helpful-links.horizontal .links .helpful-link{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.helpful-links.horizontal .title{
	color: #8a8a8a;
	font-weight: bold;
	position: relative;
	bottom: 5px;
}

.chrome .helpful-links.horizontal .title{
	bottom: 0px;
}

.helpful-links.horizontal .links a{
	color: #5f87b9;
}

.helpful-link{
    display: block;
    padding: 0 0 0 20px;
    position: relative;
}

.helpful-link .external-link{
	width: 16px;
	height: 16px;
	position: absolute;
    top: 1px;
    left: 0;
	background: url(../images/custom-icons-sprite.png) 0 368px;
}


